:root {
	--tl-font-ui: Georgia, Cambria, 'Times New Roman', Times, serif !important;
	--tl-font-sans: Georgia, Cambria, 'Times New Roman', Times, serif !important;
	--tl-font-serif: Georgia, Cambria, 'Times New Roman', Times, serif !important;
	--tl-font-draw: Georgia, Cambria, 'Times New Roman', Times, serif !important;
	--tl-font-mono: Georgia, Cambria, 'Times New Roman', Times, serif !important;
}

body,
button,
select,
input,
textarea {
	font-family: Georgia, Cambria, 'Times New Roman', Times, serif !important;
}

body {
	margin: 0;
	overscroll-behavior: none;
}

* {
	box-sizing: border-box;
}
